
/* for all related */
*{font-family: 'Open Sans', sans-serif;
}
/* for nav part */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
/* for mary name  */
.mary{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
   
    

}
    
    /* for that orrange color */
.R{
    color: #FD6E0A;
}
nav > ul {
    display: flex;
    align-items: center;
}
.apple{
    list-style: none;
    margin-right: 50px;
   
}
.applee{
    list-style: none;
}
.m{
    text-decoration: none;
    color: rgb(71, 68, 68);
   
}
.btn{
    background-color: #FD6E0A;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
